@font-face {
    font-family: 'amblebold_italic';
    src: url('Amble-BoldItalic-webfont.eot');
    src: url('Amble-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-BoldItalic-webfont.woff2') format('woff2'),
         url('Amble-BoldItalic-webfont.woff') format('woff'),
         url('Amble-BoldItalic-webfont.ttf') format('truetype'),
         url('Amble-BoldItalic-webfont.svg#amblebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: impact verdana arial sans-serif;
	background-color: #00008B;
	color: #FFFFFF;
}
#page{

	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;

}
#tete{
	display: inline-block;

}
#page, header h1{
	display: inline-block;
	
	
}
header h1{
	font-size: 2.5em;
	font-weight: normal;
}
header h2{
	font-size: 1.1em;
	font-weight:normal;
	margin-top: 0px;
}
nav{
	display: flex;
	
	justify-content:flex-end;
	text-align: right;
	width: 740px;

}
nav ul{
	list-style-type: none;
}
nav a{
	text-decoration: none;
	font-size: 1.2em;
	padding-bottom: 3px;
	color: #fff;

}
a:hover{
	color: Coral;
	border: 2px solid Coral;
}
nav li{
	display: inline-block;
	margin-right: 15px;

}
header{
	background: url("image/separateur.png") repeat-x bottom;
	width: 950px;
	height: 190px;
	 
}
section h1, footer h1, a{
	font-weight: normal;
	text-transform: uppercase;
}
.img0{
	float: right;
}
#pot{
	background: url("image/bg.jpg") repeat-y left;
	margin-top: 15px;
	height: 200px;
	width: 950px;
	
	margin-bottom: 25px;
	position: relative;
}
#sep{
	
}
section{
	width: 600px;
	height: 450px;
	display: flex;
	flex-direction:row;
	justify-align:center;
}

 aside{
	position: absolute;
	right: 0px;
	width: 30%;
	height: 400px;
	background-color: #0000CD;
	padding: 10px;
	box-shadow: 0px 4px 5px #0000DC;
	border-radius: 5px;
	margin-right:20px;
}
#bam{
	text-align: center;
}
aside h1{
	text-align: center;
}
footer{
	background: url("image/separateur.png") repeat-x top;
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;


}
.img1{
	height: 123px;
	width: 120px;
	border: 2px solid black;
}
.img2{
	height: 123px;
	width: 120px;
	border: 2px solid black;
}
.im{
	border:2px solid black;
}
.fott1{
	display: flex;
}

#cv{;
	display: flex;
	
	flex-direction:row;
	align-items:center;
	justify-content:space-between
}
#formation{
	width: 40%;
}
#competence{
	width: 30%;
}
#experience{
	width: 27%;
}
#contact{
	display: flex;
	justify-content:space-between

}